@font-face {
    font-family: 'Styrene B LC';
    src: url('/fonts/styrene-regular.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene B LC';
    src: url('/fonts/styrene-medium.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene B LC';
    src: url('/fonts/styrene-bold.woff2') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    font-family: 'Styrene B LC', sans-serif;
}