@font-face {
    font-family: 'Styrene B LC';
    font-weight: 400;
    font-style: normal;

    src: url('../public/fonts/styrene/styrene-regular.ttf') format('truetype'),
        url('../public/fonts/styrene/styrene-regular.woff') format('truetype'),
        url('../public/fonts/styrene/styrene-regular.woff2') format('truetype');
}

@font-face {
    font-family: 'Styrene B LC';
    font-weight: 700;
    font-style: normal;

    src: url('../public/fonts/styrene/styrene-bold.ttf') format('truetype'),
        url('../public/fonts/styrene/styrene-bold.woff') format('truetype'),
        url('../public/fonts/styrene/styrene-bold.woff2') format('truetype');
}
